parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_wp_error\(\) with WP_Term will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: includes/RestApi.php

		-
			message: '#^Parameter \#1 \$user_id of function get_userdata expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/RestApi.php
