parameters:
	ignoreErrors:
		-
			message: '#^Offset ''icon_svg'' on array\{name\: string, description\: string, icon\: string, icon_color\: string, constant\: string, settings_page\: string, github\: string\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/ParentPage.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/Tab404.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/Tab404.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabAdvanced.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabAdvanced.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabAi.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabAi.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabContent.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabContent.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabGeneral.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabGeneral.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabLocal.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabLocal.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabRedirects.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabRedirects.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Admin/Settings/TabRedirects.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabSitemap.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabSitemap.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabSocial.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabSocial.php

		-
			message: '#^Offset ''label'' on array\{name\: string, label\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabWooCommerce.php

		-
			message: '#^Offset ''options'' on array\{name\: string, options\: array\<string, string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/Admin/Settings/TabWooCommerce.php

		-
			message: '#^Offset ''hits'' on array\{source\: string, destination\: string, type\: int, regex\: bool, hits\: int, last_accessed\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/CLI/RedirectCommand.php

		-
			message: '#^Method LightweightPlugins\\SEO\\Markdown\\Dispatcher\:\:get_renderer\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: includes/Markdown/Dispatcher.php

		-
			message: '#^Parameter \#2 \$user_id of function get_the_author_meta expects int\|false, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Markdown/PostRenderer.php

		-
			message: '#^Parameter \#1 \$term of function term_description expects int, WP_Term given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Markdown/TaxonomyRenderer.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: includes/Migration/Ajax.php

		-
			message: '#^Parameter \#1 \$term of function term_description expects int, WP_Term given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Plugin.php

		-
			message: '#^Property WP_Term\:\:\$taxonomy \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: includes/Plugin.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 14
			path: includes/Redirects/Ajax.php

		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Redirects/Handler.php

		-
			message: '#^Parameter \#1 \$term of function term_description expects int, WP_Term given\.$#'
			identifier: argument.type
			count: 1
			path: includes/ReplaceVars.php

		-
			message: '#^Parameter \#2 \$user_id of function get_the_author_meta expects int\|false, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/ReplaceVars.php

		-
			message: '#^Call to function is_wp_error\(\) with WP_Term will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: includes/RestApi.php

		-
			message: '#^Parameter \#1 \$user_id of function get_userdata expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/RestApi.php

		-
			message: '#^Parameter \#1 \$user_id of function get_userdata expects int, string given\.$#'
			identifier: argument.type
			count: 2
			path: includes/Schema/Schema.php

		-
			message: '#^Offset ''parent'' on array\{slug\: string, parent\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/WooCommerce/PermalinkRuleBuilder.php

		-
			message: '#^Parameter \#1 \$attachment_id of function wp_get_attachment_image_url expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/WooCommerce/Schema.php

		-
			message: '#^Parameter \#1 \$comment_id of function get_comment_meta expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/WooCommerce/Schema.php

		-
			message: '#^Action callback returns LightweightPlugins\\SEO\\Plugin but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: lw-seo.php
